{
  "openapi": "3.1.0",
  "info": {
    "title": "OnlineOrNot API",
    "description": "UNRELEASED CANDIDATE. Generated for offline consumer preparation, not evidence of deployed routes.\n\nInteract with OnlineOrNot programmatically via the OnlineOrNot API.\n\nUsing the OnlineOrNot API requires authentication so that OnlineOrNot knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions.\n\nTo create an API token, from the OnlineOrNot dashboard, go to API Tokens and click Create token.\n\n## Documentation\n\n- [API Reference](https://developers.onlineornot.com) - Full API documentation with examples\n- [LLM-friendly docs](https://developers.onlineornot.com/llms.txt) - Markdown documentation index for AI assistants\n\nTotally new to OnlineOrNot? [Start here](https://onlineornot.com/docs/welcome/).",
    "license": {
      "name": "BSD-3-Clause",
      "url": "https://opensource.org/licenses/BSD-3-Clause"
    },
    "version": "1.0.0-projects-candidate"
  },
  "servers": [
    {
      "url": "https://api.onlineornot.com",
      "description": "Client API"
    }
  ],
  "tags": [
    {
      "name": "Audit Logs",
      "description": "View audit log events for your organisation"
    },
    {
      "name": "Tokens",
      "description": "Create, list, verify, and delete API tokens for authentication"
    },
    {
      "name": "Checks",
      "description": "Create and manage uptime checks, retrieve check results and status history"
    },
    {
      "name": "Heartbeats",
      "description": "Monitor cron jobs and scheduled tasks with heartbeat pings"
    },
    {
      "name": "Status Pages",
      "description": "Create and manage public status pages for communicating service health"
    },
    {
      "name": "Status Page Components",
      "description": "Add and manage individual service components displayed on status pages"
    },
    {
      "name": "Status Page Component Groups",
      "description": "Organize status page components into logical groups"
    },
    {
      "name": "Status Page Incidents",
      "description": "Create and manage incidents to communicate outages on status pages"
    },
    {
      "name": "Status Page Incident Updates",
      "description": "Post timeline updates to active incidents"
    },
    {
      "name": "Status Page Scheduled Maintenance",
      "description": "Schedule and manage planned maintenance windows on status pages"
    },
    {
      "name": "Status Page Subscribers",
      "description": "Manage email subscribers for status page notifications"
    },
    {
      "name": "Maintenance Windows",
      "description": "Configure maintenance windows to suppress alerts during planned downtime"
    },
    {
      "name": "People",
      "description": "List and manage users in your organization, including pending invitations"
    },
    {
      "name": "Webhooks",
      "description": "Configure webhook integrations for alert notifications"
    },
    {
      "name": "Projects",
      "description": "Candidate project management operations; not a deployment declaration."
    }
  ],
  "components": {
    "securitySchemes": {
      "api_token": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token or OAuth access token. OAuth grants covering multiple organizations require the X-OnlineOrNot-Organisation header. API tokens already identify their organization."
      }
    },
    "schemas": {
      "PublicApiErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "result": {
            "type": "null"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "minItems": 1
          },
          "messages": {
            "type": "array",
            "items": {},
            "minItems": 0,
            "maxItems": 0
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ]
      },
      "PublicApiBadRequest": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "result": {
            "type": "null"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "minItems": 1
          },
          "messages": {
            "type": "array",
            "items": {},
            "minItems": 0,
            "maxItems": 0
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ]
      },
      "PublicApiServerError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "result": {
            "type": "null"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "minItems": 1
          },
          "messages": {
            "type": "array",
            "items": {},
            "minItems": 0,
            "maxItems": 0
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ]
      },
      "AnyCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/AnyCheck"
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "success",
          "errors",
          "messages"
        ]
      },
      "AnyCheck": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ExpandedUptimeCheck"
          },
          {
            "$ref": "#/components/schemas/ExpandedBrowserCheck"
          },
          {
            "$ref": "#/components/schemas/ExpandedDnsCheck"
          },
          {
            "$ref": "#/components/schemas/ExpandedTcpCheck"
          }
        ],
        "discriminator": {
          "propertyName": "check_type",
          "mapping": {
            "UPTIME": "#/components/schemas/ExpandedUptimeCheck",
            "BROWSER": "#/components/schemas/ExpandedBrowserCheck",
            "DNS": "#/components/schemas/ExpandedDnsCheck",
            "TCP": "#/components/schemas/ExpandedTcpCheck"
          }
        }
      },
      "ExpandedUptimeCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4",
            "description": "Uptime Check ID"
          },
          "name": {
            "type": "string",
            "example": "My landing page"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://example.com",
            "description": "URL to check (null for script-based browser checks)"
          },
          "last_queued": {
            "type": [
              "string",
              "null"
            ],
            "example": "2021-01-01T00:00:00.000Z",
            "description": "Last time the check was queued"
          },
          "status": {
            "type": "string",
            "enum": [
              "UP",
              "DOWN",
              "PENDING",
              "PAUSED",
              "MUTED",
              "MAINTENANCE",
              "RECOVERING",
              "VERIFYING"
            ],
            "example": "UP",
            "description": "Current status of the check based on the latest uptime event"
          },
          "headers": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "X-My-Header": "My Value"
            },
            "description": "Headers to send with the request"
          },
          "text_to_search_for": {
            "type": [
              "string",
              "null"
            ],
            "description": "Text to search for in the response"
          },
          "reminder_alert_interval_minutes": {
            "type": [
              "number",
              "null"
            ],
            "example": 1440,
            "description": "Interval in minutes between reminder alerts (-1 for never); null for legacy checks without a configured interval"
          },
          "confirmation_period_seconds": {
            "type": "number",
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "number",
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "test_interval": {
            "type": "number",
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "timeout": {
            "type": "number"
          },
          "version": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "NODE24_PLAYWRIGHT",
              "CLOUDFLARE",
              null
            ],
            "example": "NODE24_PLAYWRIGHT",
            "description": "Runtime version for browser checks (null for standard uptime checks)"
          },
          "script": {
            "type": [
              "string",
              "null"
            ],
            "description": "Playwright Test script loaded by GET for scripted browser checks; null for URL-based checks or when script content was not loaded. Mutation responses do not load script content."
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "example": "HIGH",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "verify_ssl": {
            "type": "boolean",
            "example": true,
            "description": "Whether to verify SSL certificates"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "HEAD",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "example": "GET",
            "description": "HTTP method to use"
          },
          "body": {
            "type": [
              "string",
              "null"
            ],
            "description": "Request body for POST/PUT/PATCH requests"
          },
          "follow_redirects": {
            "type": "boolean",
            "example": true
          },
          "assertions": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "JSON_BODY",
                    "TEXT_BODY",
                    "RESPONSE_HEADERS",
                    "HTML_BODY"
                  ],
                  "example": "JSON_BODY",
                  "description": "Type of assertion"
                },
                "property": {
                  "type": "string",
                  "example": "$.data.name",
                  "description": "Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS, CSS selector for HTML_BODY; unused for TEXT_BODY)"
                },
                "comparison": {
                  "type": "string",
                  "enum": [
                    "EQUALS",
                    "NOT_EQUALS",
                    "GREATER_THAN",
                    "LESS_THAN",
                    "NULL",
                    "NOT_NULL",
                    "EMPTY",
                    "NOT_EMPTY",
                    "CONTAINS",
                    "NOT_CONTAINS",
                    "FALSE",
                    "TRUE"
                  ],
                  "example": "EQUALS",
                  "description": "Comparison operator"
                },
                "expected": {
                  "type": "string",
                  "example": "John Doe",
                  "description": "Expected value"
                }
              },
              "required": [
                "type",
                "property",
                "comparison",
                "expected"
              ]
            },
            "description": "Assertions to validate the response"
          },
          "auth_username": {
            "type": [
              "string",
              "null"
            ],
            "description": "Username for HTTP Basic Auth. Null when unset; an empty string represents an empty user-id."
          },
          "auth_password": {
            "type": [
              "string",
              "null"
            ],
            "description": "Password for HTTP Basic Auth. Null when unset; empty strings are preserved."
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions the check runs from. Format: aws:{region}"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User IDs to notify on alerts"
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Slack integration IDs to notify"
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Discord integration IDs to notify"
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Incident.io integration IDs to notify"
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Microsoft Teams integration IDs to notify"
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Telegram integration IDs to notify"
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Pushover integration IDs to notify"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "On-call integration IDs (PagerDuty, Opsgenie, Grafana, Spike)"
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Webhook IDs to notify"
          },
          "check_type": {
            "type": "string",
            "enum": [
              "UPTIME"
            ],
            "example": "UPTIME"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "last_queued",
          "status",
          "headers",
          "text_to_search_for",
          "reminder_alert_interval_minutes",
          "confirmation_period_seconds",
          "recovery_period_seconds",
          "test_interval",
          "timeout",
          "version",
          "script",
          "alert_priority",
          "verify_ssl",
          "method",
          "body",
          "follow_redirects",
          "assertions",
          "auth_username",
          "auth_password",
          "test_regions",
          "user_alerts",
          "slack_alerts",
          "discord_alerts",
          "incident_io_alerts",
          "microsoft_teams_alerts",
          "telegram_alerts",
          "pushover_alerts",
          "oncall_alerts",
          "webhook_alerts",
          "check_type"
        ]
      },
      "ExpandedBrowserCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4",
            "description": "Uptime Check ID"
          },
          "name": {
            "type": "string",
            "example": "My landing page"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://example.com",
            "description": "URL to check (null for script-based browser checks)"
          },
          "last_queued": {
            "type": [
              "string",
              "null"
            ],
            "example": "2021-01-01T00:00:00.000Z",
            "description": "Last time the check was queued"
          },
          "status": {
            "type": "string",
            "enum": [
              "UP",
              "DOWN",
              "PENDING",
              "PAUSED",
              "MUTED",
              "MAINTENANCE",
              "RECOVERING",
              "VERIFYING"
            ],
            "example": "UP",
            "description": "Current status of the check based on the latest uptime event"
          },
          "headers": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "X-My-Header": "My Value"
            },
            "description": "Headers to send with the request"
          },
          "text_to_search_for": {
            "type": [
              "string",
              "null"
            ],
            "description": "Text to search for in the response"
          },
          "reminder_alert_interval_minutes": {
            "type": [
              "number",
              "null"
            ],
            "example": 1440,
            "description": "Interval in minutes between reminder alerts (-1 for never); null for legacy checks without a configured interval"
          },
          "confirmation_period_seconds": {
            "type": "number",
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "number",
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "test_interval": {
            "type": "number",
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "timeout": {
            "type": [
              "number",
              "null"
            ],
            "example": 10000,
            "description": "Timeout in milliseconds"
          },
          "script": {
            "type": [
              "string",
              "null"
            ],
            "description": "Playwright Test script loaded by GET for scripted browser checks; null for URL-based checks or when script content was not loaded. Mutation responses do not load script content."
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "example": "HIGH",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "verify_ssl": {
            "type": "boolean",
            "example": true,
            "description": "Whether to verify SSL certificates"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "HEAD",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "example": "GET",
            "description": "HTTP method to use"
          },
          "body": {
            "type": [
              "string",
              "null"
            ],
            "description": "Request body for POST/PUT/PATCH requests"
          },
          "follow_redirects": {
            "type": "boolean",
            "example": true
          },
          "assertions": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "JSON_BODY",
                    "TEXT_BODY",
                    "RESPONSE_HEADERS",
                    "HTML_BODY"
                  ],
                  "example": "JSON_BODY",
                  "description": "Type of assertion"
                },
                "property": {
                  "type": "string",
                  "example": "$.data.name",
                  "description": "Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS, CSS selector for HTML_BODY; unused for TEXT_BODY)"
                },
                "comparison": {
                  "type": "string",
                  "enum": [
                    "EQUALS",
                    "NOT_EQUALS",
                    "GREATER_THAN",
                    "LESS_THAN",
                    "NULL",
                    "NOT_NULL",
                    "EMPTY",
                    "NOT_EMPTY",
                    "CONTAINS",
                    "NOT_CONTAINS",
                    "FALSE",
                    "TRUE"
                  ],
                  "example": "EQUALS",
                  "description": "Comparison operator"
                },
                "expected": {
                  "type": "string",
                  "example": "John Doe",
                  "description": "Expected value"
                }
              },
              "required": [
                "type",
                "property",
                "comparison",
                "expected"
              ]
            },
            "description": "Assertions to validate the response"
          },
          "auth_username": {
            "type": [
              "string",
              "null"
            ],
            "description": "Username for HTTP Basic Auth. Null when unset; an empty string represents an empty user-id."
          },
          "auth_password": {
            "type": [
              "string",
              "null"
            ],
            "description": "Password for HTTP Basic Auth. Null when unset; empty strings are preserved."
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions the check runs from. Format: aws:{region}"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User IDs to notify on alerts"
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Slack integration IDs to notify"
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Discord integration IDs to notify"
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Incident.io integration IDs to notify"
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Microsoft Teams integration IDs to notify"
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Telegram integration IDs to notify"
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Pushover integration IDs to notify"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "On-call integration IDs (PagerDuty, Opsgenie, Grafana, Spike)"
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Webhook IDs to notify"
          },
          "version": {
            "type": "string",
            "enum": [
              "NODE24_PLAYWRIGHT",
              "CLOUDFLARE"
            ],
            "example": "NODE24_PLAYWRIGHT",
            "description": "Runtime version for browser checks."
          },
          "check_type": {
            "type": "string",
            "enum": [
              "BROWSER"
            ],
            "example": "BROWSER"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "last_queued",
          "status",
          "headers",
          "text_to_search_for",
          "reminder_alert_interval_minutes",
          "confirmation_period_seconds",
          "recovery_period_seconds",
          "test_interval",
          "timeout",
          "script",
          "alert_priority",
          "verify_ssl",
          "method",
          "body",
          "follow_redirects",
          "assertions",
          "auth_username",
          "auth_password",
          "test_regions",
          "user_alerts",
          "slack_alerts",
          "discord_alerts",
          "incident_io_alerts",
          "microsoft_teams_alerts",
          "telegram_alerts",
          "pushover_alerts",
          "oncall_alerts",
          "webhook_alerts",
          "version",
          "check_type"
        ]
      },
      "ExpandedDnsCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4",
            "description": "Uptime Check ID"
          },
          "name": {
            "type": "string",
            "example": "My landing page"
          },
          "last_queued": {
            "type": [
              "string",
              "null"
            ],
            "example": "2021-01-01T00:00:00.000Z",
            "description": "Last time the check was queued"
          },
          "status": {
            "type": "string",
            "enum": [
              "UP",
              "DOWN",
              "PENDING",
              "PAUSED",
              "MUTED",
              "MAINTENANCE",
              "RECOVERING",
              "VERIFYING"
            ],
            "example": "UP",
            "description": "Current status of the check based on the latest uptime event"
          },
          "reminder_alert_interval_minutes": {
            "type": [
              "number",
              "null"
            ],
            "example": 1440,
            "description": "Interval in minutes between reminder alerts (-1 for never); null for legacy checks without a configured interval"
          },
          "confirmation_period_seconds": {
            "type": "number",
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "number",
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "test_interval": {
            "type": "number",
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "timeout": {
            "type": "number"
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "example": "HIGH",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions the check runs from. Format: aws:{region}"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User IDs to notify on alerts"
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Slack integration IDs to notify"
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Discord integration IDs to notify"
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Incident.io integration IDs to notify"
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Microsoft Teams integration IDs to notify"
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Telegram integration IDs to notify"
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Pushover integration IDs to notify"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "On-call integration IDs (PagerDuty, Opsgenie, Grafana, Spike)"
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Webhook IDs to notify"
          },
          "check_type": {
            "type": "string",
            "enum": [
              "DNS"
            ],
            "example": "DNS"
          },
          "url": {
            "type": "null",
            "description": "DNS checks do not use a URL target."
          },
          "version": {
            "type": "string",
            "enum": [
              "NODE24_DNS"
            ],
            "example": "NODE24_DNS",
            "description": "Runtime version for DNS checks."
          },
          "dns_domain": {
            "type": "string",
            "example": "example.com",
            "description": "DNS name queried by this check."
          },
          "dns_record_type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "SOA",
              "TXT"
            ],
            "example": "A",
            "description": "DNS record type queried by this check."
          },
          "dns_resolver": {
            "type": [
              "string",
              "null"
            ],
            "example": "8.8.8.8:53",
            "description": "Custom resolver used by this check, or null for the default resolver."
          },
          "dns_protocol": {
            "type": "string",
            "enum": [
              "UDP",
              "TCP"
            ],
            "example": "UDP",
            "description": "DNS transport protocol used by this check."
          },
          "assertions": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/DnsAssertion"
            },
            "description": "DNS assertions to validate the response."
          }
        },
        "required": [
          "id",
          "name",
          "last_queued",
          "status",
          "reminder_alert_interval_minutes",
          "confirmation_period_seconds",
          "recovery_period_seconds",
          "test_interval",
          "timeout",
          "alert_priority",
          "test_regions",
          "user_alerts",
          "slack_alerts",
          "discord_alerts",
          "incident_io_alerts",
          "microsoft_teams_alerts",
          "telegram_alerts",
          "pushover_alerts",
          "oncall_alerts",
          "webhook_alerts",
          "check_type",
          "url",
          "version",
          "dns_domain",
          "dns_record_type",
          "dns_resolver",
          "dns_protocol",
          "assertions"
        ]
      },
      "DnsAssertion": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "DNS_RESPONSE_CODE",
              "DNS_TEXT_ANSWER",
              "DNS_JSON_ANSWER"
            ],
            "example": "DNS_JSON_ANSWER",
            "description": "Type of DNS assertion"
          },
          "property": {
            "type": "string",
            "example": "$.answers[0].data",
            "description": "Property to assert on. Use JSONPath for DNS_JSON_ANSWER, status for DNS_RESPONSE_CODE, and an empty string for DNS_TEXT_ANSWER."
          },
          "comparison": {
            "type": "string",
            "enum": [
              "EQUALS",
              "NOT_EQUALS",
              "GREATER_THAN",
              "LESS_THAN",
              "NULL",
              "NOT_NULL",
              "EMPTY",
              "NOT_EMPTY",
              "CONTAINS",
              "NOT_CONTAINS",
              "FALSE",
              "TRUE"
            ],
            "example": "EQUALS",
            "description": "Comparison operator"
          },
          "expected": {
            "type": "string",
            "example": "93.184.216.34",
            "description": "Expected value"
          }
        },
        "required": [
          "type",
          "property",
          "comparison",
          "expected"
        ]
      },
      "ExpandedTcpCheck": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4",
            "description": "Uptime Check ID"
          },
          "name": {
            "type": "string",
            "example": "My landing page"
          },
          "last_queued": {
            "type": [
              "string",
              "null"
            ],
            "example": "2021-01-01T00:00:00.000Z",
            "description": "Last time the check was queued"
          },
          "status": {
            "type": "string",
            "enum": [
              "UP",
              "DOWN",
              "PENDING",
              "PAUSED",
              "MUTED",
              "MAINTENANCE",
              "RECOVERING",
              "VERIFYING"
            ],
            "example": "UP",
            "description": "Current status of the check based on the latest uptime event"
          },
          "reminder_alert_interval_minutes": {
            "type": [
              "number",
              "null"
            ],
            "example": 1440,
            "description": "Interval in minutes between reminder alerts (-1 for never); null for legacy checks without a configured interval"
          },
          "confirmation_period_seconds": {
            "type": "number",
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "number",
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "test_interval": {
            "type": "number",
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "timeout": {
            "type": "number"
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "example": "HIGH",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions the check runs from. Format: aws:{region}"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "User IDs to notify on alerts"
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Slack integration IDs to notify"
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Discord integration IDs to notify"
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Incident.io integration IDs to notify"
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Microsoft Teams integration IDs to notify"
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Telegram integration IDs to notify"
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Pushover integration IDs to notify"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "On-call integration IDs (PagerDuty, Opsgenie, Grafana, Spike)"
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Webhook IDs to notify"
          },
          "check_type": {
            "type": "string",
            "enum": [
              "TCP"
            ],
            "example": "TCP"
          },
          "url": {
            "type": "null",
            "description": "TCP checks do not use a URL target."
          },
          "version": {
            "type": "string",
            "enum": [
              "NODE24_TCP"
            ],
            "example": "NODE24_TCP",
            "description": "Runtime version for TCP checks."
          },
          "tcp_hostname": {
            "type": "string",
            "example": "tcpbin.com",
            "description": "TCP hostname connected to by this check."
          },
          "tcp_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "example": 4242,
            "description": "TCP port to connect to"
          },
          "tcp_ip_family": {
            "type": "string",
            "enum": [
              "IPv4",
              "IPv6"
            ],
            "example": "IPv4",
            "description": "IP family used by this check."
          },
          "tcp_data": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional TCP payload sent by this check."
          },
          "tcp_should_fail": {
            "type": "boolean",
            "example": false,
            "description": "Whether failed TCP connections are expected."
          },
          "assertions": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/TcpAssertion"
            },
            "description": "TCP assertions to validate the response."
          }
        },
        "required": [
          "id",
          "name",
          "last_queued",
          "status",
          "reminder_alert_interval_minutes",
          "confirmation_period_seconds",
          "recovery_period_seconds",
          "test_interval",
          "timeout",
          "alert_priority",
          "test_regions",
          "user_alerts",
          "slack_alerts",
          "discord_alerts",
          "incident_io_alerts",
          "microsoft_teams_alerts",
          "telegram_alerts",
          "pushover_alerts",
          "oncall_alerts",
          "webhook_alerts",
          "check_type",
          "url",
          "version",
          "tcp_hostname",
          "tcp_port",
          "tcp_ip_family",
          "tcp_data",
          "tcp_should_fail",
          "assertions"
        ]
      },
      "TcpAssertion": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "TCP_RESPONSE_TIME",
              "TCP_RESPONSE_DATA"
            ],
            "example": "TCP_RESPONSE_DATA",
            "description": "Type of TCP assertion"
          },
          "property": {
            "type": "string",
            "example": "",
            "description": "Property to assert on. Use an empty string for raw TCP response data and responseTime for response time assertions."
          },
          "comparison": {
            "type": "string",
            "enum": [
              "EQUALS",
              "NOT_EQUALS",
              "GREATER_THAN",
              "LESS_THAN",
              "NULL",
              "NOT_NULL",
              "EMPTY",
              "NOT_EMPTY",
              "CONTAINS",
              "NOT_CONTAINS",
              "FALSE",
              "TRUE"
            ],
            "example": "EQUALS",
            "description": "Comparison operator"
          },
          "expected": {
            "type": "string",
            "example": "OK",
            "description": "Expected value"
          }
        },
        "required": [
          "type",
          "property",
          "comparison",
          "expected"
        ]
      },
      "CheckListResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckListItem"
            }
          },
          "result_info": {
            "type": "object",
            "properties": {
              "page": {
                "type": "number",
                "default": 1,
                "example": 1,
                "description": "Page number of paginated results."
              },
              "per_page": {
                "type": "number",
                "default": 20,
                "example": 20,
                "description": "Number of items per page."
              },
              "count": {
                "type": "number",
                "example": 1,
                "description": "Number of items on the current page."
              },
              "total_count": {
                "type": "number",
                "example": 1,
                "description": "Total number of items."
              }
            },
            "required": [
              "count",
              "total_count"
            ]
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "result_info",
          "success",
          "errors",
          "messages"
        ]
      },
      "CheckListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "a1b2c3d4",
            "description": "Uptime Check ID"
          },
          "name": {
            "type": "string",
            "example": "My landing page"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://example.com",
            "description": "URL to check (null for DNS or script-based browser checks)"
          },
          "check_type": {
            "type": "string",
            "enum": [
              "UPTIME",
              "BROWSER",
              "DNS",
              "TCP"
            ],
            "example": "UPTIME"
          },
          "last_queued": {
            "type": [
              "string",
              "null"
            ],
            "example": "2021-01-01T00:00:00.000Z",
            "description": "Last time the check was queued"
          },
          "status": {
            "type": "string",
            "enum": [
              "UP",
              "DOWN",
              "PENDING",
              "PAUSED",
              "MUTED",
              "MAINTENANCE",
              "RECOVERING",
              "VERIFYING"
            ],
            "example": "UP",
            "description": "Current status of the check based on the latest event"
          },
          "dns_domain": {
            "type": [
              "string",
              "null"
            ],
            "example": "example.com",
            "description": "DNS name queried by this check. Present for DNS checks."
          },
          "dns_record_type": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "SOA",
              "TXT",
              null
            ],
            "example": "A",
            "description": "DNS record type queried by this check. Present for DNS checks."
          },
          "dns_resolver": {
            "type": [
              "string",
              "null"
            ],
            "example": "8.8.8.8:53",
            "description": "Custom resolver used by this DNS check, or null for the default resolver."
          },
          "dns_protocol": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "UDP",
              "TCP",
              null
            ],
            "example": "UDP",
            "description": "DNS transport protocol used by this check. Present for DNS checks."
          },
          "tcp_hostname": {
            "type": [
              "string",
              "null"
            ],
            "example": "tcpbin.com",
            "description": "TCP hostname connected to by this check. Present for TCP checks."
          },
          "tcp_port": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 65535,
            "example": 4242,
            "description": "TCP port to connect to"
          },
          "tcp_ip_family": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "IPv4",
              "IPv6",
              null
            ],
            "example": "IPv4",
            "description": "IP family used by this check. Present for TCP checks."
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "check_type",
          "last_queued",
          "status"
        ]
      },
      "PublicApiValidationError": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "result": {
            "type": "null"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "minItems": 1
          },
          "messages": {
            "type": "array",
            "items": {},
            "minItems": 0,
            "maxItems": 0
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ]
      },
      "PublicCheckIncidentErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "result": {
            "type": "null"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "minItems": 1
          },
          "messages": {
            "type": "array",
            "items": {},
            "minItems": 0,
            "maxItems": 0
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ]
      },
      "PublicCheckResultsErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "result": {
            "type": "null"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "minItems": 1
          },
          "messages": {
            "type": "array",
            "items": {},
            "minItems": 0,
            "maxItems": 0
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ]
      },
      "DnsCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ExpandedDnsCheck"
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "success",
          "errors",
          "messages"
        ]
      },
      "DnsCheckPatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "My monitor"
          },
          "test_interval": {
            "type": "integer",
            "minimum": 30,
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Region identifier in format aws:{region}"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions to run checks from. Valid regions: aws:us-east-1, aws:us-east-2, aws:us-west-1, aws:eu-central-1, aws:eu-west-2, aws:ap-south-1, aws:ap-southeast-2, aws:ap-northeast-1"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of webhooks to associate with this check"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of on-call integrations (Grafana, PagerDuty, Opsgenie, Spike)"
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "default": "HIGH",
            "example": "LOW",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "confirmation_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "reminder_alert_interval_minutes": {
            "type": "integer",
            "minimum": -1,
            "example": 1440,
            "description": "Interval in minutes between reminders (-1 for never)"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "example": 10000,
            "description": "Timeout in milliseconds"
          },
          "paused": {
            "type": "boolean",
            "example": false,
            "description": "Stops check execution when true."
          },
          "muted": {
            "type": "boolean",
            "example": false,
            "description": "Suppresses alerts without stopping checks."
          },
          "dns_domain": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253
          },
          "dns_record_type": {
            "type": "string",
            "enum": [
              "A",
              "AAAA",
              "CNAME",
              "MX",
              "NS",
              "SOA",
              "TXT"
            ]
          },
          "dns_resolver": {
            "type": [
              "string",
              "null"
            ],
            "example": "8.8.8.8:53",
            "description": "Custom DNS resolver in host:port format. IPv6 must use bracket notation."
          },
          "dns_protocol": {
            "type": "string",
            "enum": [
              "UDP",
              "TCP"
            ]
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsAssertion"
            }
          }
        },
        "additionalProperties": false
      },
      "CheckDeleteResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "a1b2c3d4",
                "description": "Uptime Check ID"
              }
            },
            "required": [
              "id"
            ]
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "success",
          "errors",
          "messages"
        ]
      },
      "TcpCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ExpandedTcpCheck"
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "success",
          "errors",
          "messages"
        ]
      },
      "TcpCheckPatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "My monitor"
          },
          "test_interval": {
            "type": "integer",
            "minimum": 30,
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Region identifier in format aws:{region}"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions to run checks from. Valid regions: aws:us-east-1, aws:us-east-2, aws:us-west-1, aws:eu-central-1, aws:eu-west-2, aws:ap-south-1, aws:ap-southeast-2, aws:ap-northeast-1"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of webhooks to associate with this check"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of on-call integrations (Grafana, PagerDuty, Opsgenie, Spike)"
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "default": "HIGH",
            "example": "LOW",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "confirmation_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "reminder_alert_interval_minutes": {
            "type": "integer",
            "minimum": -1,
            "example": 1440,
            "description": "Interval in minutes between reminders (-1 for never)"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "example": 10000,
            "description": "Timeout in milliseconds"
          },
          "paused": {
            "type": "boolean",
            "example": false,
            "description": "Stops check execution when true."
          },
          "muted": {
            "type": "boolean",
            "example": false,
            "description": "Suppresses alerts without stopping checks."
          },
          "tcp_hostname": {
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "example": "tcpbin.com",
            "description": "Publicly reachable hostname or IP address to connect to"
          },
          "tcp_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "example": 4242,
            "description": "TCP port to connect to"
          },
          "tcp_ip_family": {
            "type": "string",
            "enum": [
              "IPv4",
              "IPv6"
            ]
          },
          "tcp_data": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 16384,
            "example": "PING\r\n",
            "description": "Optional TCP payload to send immediately after connecting"
          },
          "tcp_should_fail": {
            "type": "boolean"
          },
          "assertions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TcpAssertion"
            }
          }
        },
        "additionalProperties": false
      },
      "UptimeCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ExpandedUptimeCheck"
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "success",
          "errors",
          "messages"
        ]
      },
      "UptimeCheckPatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "My monitor"
          },
          "test_interval": {
            "type": "integer",
            "minimum": 30,
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Region identifier in format aws:{region}"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions to run checks from. Valid regions: aws:us-east-1, aws:us-east-2, aws:us-west-1, aws:eu-central-1, aws:eu-west-2, aws:ap-south-1, aws:ap-southeast-2, aws:ap-northeast-1"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of webhooks to associate with this check"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of on-call integrations (Grafana, PagerDuty, Opsgenie, Spike)"
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "default": "HIGH",
            "example": "LOW",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "confirmation_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "reminder_alert_interval_minutes": {
            "type": "integer",
            "minimum": -1,
            "example": 1440,
            "description": "Interval in minutes between reminders (-1 for never)"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "example": 10000,
            "description": "Timeout in milliseconds"
          },
          "paused": {
            "type": "boolean",
            "example": false,
            "description": "Stops check execution when true."
          },
          "muted": {
            "type": "boolean",
            "example": false,
            "description": "Suppresses alerts without stopping checks."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com",
            "description": "URL to check"
          },
          "text_to_search_for": {
            "type": "string",
            "maxLength": 4000,
            "example": "Example Domain",
            "description": "Text to search for in the response"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "example": "Bearer {{API_TOKEN}}"
            },
            "example": {
              "Authorization": "Bearer {{API_TOKEN}}"
            },
            "description": "Headers to send. Uptime checks support environment variable references such as {{API_TOKEN}}. Terraform example: Authorization = \"Bearer {{API_TOKEN}}\". Terraform stores the template; create the referenced variable separately."
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "HEAD",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "example": "GET",
            "description": "HTTP Method"
          },
          "body": {
            "type": "string",
            "example": "Hello World"
          },
          "follow_redirects": {
            "type": "boolean",
            "example": true
          },
          "assertions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "JSON_BODY",
                    "TEXT_BODY",
                    "RESPONSE_HEADERS",
                    "HTML_BODY"
                  ],
                  "example": "JSON_BODY",
                  "description": "Type of assertion"
                },
                "property": {
                  "type": "string",
                  "example": "$.data.name",
                  "description": "Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS, CSS selector for HTML_BODY; unused for TEXT_BODY)"
                },
                "comparison": {
                  "type": "string",
                  "enum": [
                    "EQUALS",
                    "NOT_EQUALS",
                    "GREATER_THAN",
                    "LESS_THAN",
                    "NULL",
                    "NOT_NULL",
                    "EMPTY",
                    "NOT_EMPTY",
                    "CONTAINS",
                    "NOT_CONTAINS",
                    "FALSE",
                    "TRUE"
                  ],
                  "example": "EQUALS",
                  "description": "Comparison operator"
                },
                "expected": {
                  "type": "string",
                  "example": "John Doe",
                  "description": "Expected value"
                }
              },
              "required": [
                "type",
                "property",
                "comparison",
                "expected"
              ]
            }
          },
          "verify_ssl": {
            "type": "boolean",
            "example": false,
            "description": "Whether to fail a check if SSL verification fails"
          },
          "auth_username": {
            "type": "string",
            "example": "username",
            "description": "Username to use for URLs behind HTTP Basic Auth. Uptime checks with environment variables can use {{NAME}} references; an empty string represents an empty user-id."
          },
          "auth_password": {
            "type": "string",
            "example": "password",
            "description": "Password to use for URLs behind HTTP Basic Auth. Uptime checks with environment variables can use {{NAME}} references; empty strings are preserved."
          }
        },
        "additionalProperties": false
      },
      "BrowserCheckResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ExpandedBrowserCheck"
          },
          "success": {
            "type": "boolean",
            "default": true,
            "example": true,
            "description": "Whether the API call was successful"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "number"
                },
                "message": {
                  "type": "string"
                },
                "type": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "code",
                "message"
              ]
            },
            "example": []
          }
        },
        "required": [
          "result",
          "success",
          "errors",
          "messages"
        ]
      },
      "BrowserCheckPatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "My monitor"
          },
          "test_interval": {
            "type": "integer",
            "minimum": 30,
            "example": 60,
            "description": "Interval in seconds between checks"
          },
          "test_regions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Region identifier in format aws:{region}"
            },
            "example": [
              "aws:us-east-1",
              "aws:eu-central-1"
            ],
            "description": "Regions to run checks from. Valid regions: aws:us-east-1, aws:us-east-2, aws:us-west-1, aws:eu-central-1, aws:eu-west-2, aws:ap-south-1, aws:ap-southeast-2, aws:ap-northeast-1"
          },
          "user_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "slack_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "discord_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "incident_io_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "microsoft_teams_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "telegram_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pushover_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "webhook_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of webhooks to associate with this check"
          },
          "oncall_alerts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of on-call integrations (Grafana, PagerDuty, Opsgenie, Spike)"
          },
          "alert_priority": {
            "type": "string",
            "enum": [
              "LOW",
              "HIGH"
            ],
            "default": "HIGH",
            "example": "LOW",
            "description": "[Alert priority](https://onlineornot.com/docs/how-to/alerts/configure-priority)."
          },
          "confirmation_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 60,
            "description": "Seconds before confirming [downtime](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#confirmation-period)."
          },
          "recovery_period_seconds": {
            "type": "integer",
            "minimum": 0,
            "example": 180,
            "description": "Seconds before confirming [recovery](https://onlineornot.com/docs/explanation/confirmation-recovery-periods#recovery-period)."
          },
          "reminder_alert_interval_minutes": {
            "type": "integer",
            "minimum": -1,
            "example": 1440,
            "description": "Interval in minutes between reminders (-1 for never)"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "example": 10000,
            "description": "Timeout in milliseconds"
          },
          "paused": {
            "type": "boolean",
            "example": false,
            "description": "Stops check execution when true."
          },
          "muted": {
            "type": "boolean",
            "example": false,
            "description": "Suppresses alerts without stopping checks."
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri",
            "example": "https://example.com",
            "description": "URL to check"
          },
          "text_to_search_for": {
            "type": "string",
            "maxLength": 4000,
            "example": "Example Domain",
            "description": "Text to search for in the response"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "example": "My Value"
            },
            "example": {
              "X-My-Header": "My Value"
            },
            "description": "Headers to send with the browser request. Environment variable references are not supported."
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "HEAD",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "example": "GET",
            "description": "HTTP Method"
          },
          "body": {
            "type": "string",
            "example": "Hello World"
          },
          "follow_redirects": {
            "type": "boolean",
            "example": true
          },
          "assertions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "JSON_BODY",
                    "TEXT_BODY",
                    "RESPONSE_HEADERS",
                    "HTML_BODY"
                  ],
                  "example": "JSON_BODY",
                  "description": "Type of assertion"
                },
                "property": {
                  "type": "string",
                  "example": "$.data.name",
                  "description": "Property to assert on (JSONPath for JSON_BODY, header name for RESPONSE_HEADERS, CSS selector for HTML_BODY; unused for TEXT_BODY)"
                },
                "comparison": {
                  "type": "string",
                  "enum": [
                    "EQUALS",
                    "NOT_EQUALS",
                    "GREATER_THAN",
                    "LESS_THAN",
                    "NULL",
                    "NOT_NULL",
                    "EMPTY",
                    "NOT_EMPTY",
                    "CONTAINS",
                    "NOT_CONTAINS",
                    "FALSE",
                    "TRUE"
                  ],
                  "example": "EQUALS",
                  "description": "Comparison operator"
                },
                "expected": {
                  "type": "string",
                  "example": "John Doe",
                  "description": "Expected value"
                }
              },
              "required": [
                "type",
                "property",
                "comparison",
                "expected"
              ]
            }
          },
          "verify_ssl": {
            "type": "boolean",
            "example": false,
            "description": "Whether to fail a check if SSL verification fails"
          },
          "auth_username": {
            "type": "string",
            "example": "username",
            "description": "Username to use for URLs behind HTTP Basic Auth. Uptime checks with environment variables can use {{NAME}} references; an empty string represents an empty user-id."
          },
          "auth_password": {
            "type": "string",
            "example": "password",
            "description": "Password to use for URLs behind HTTP Basic Auth. Uptime checks with environment variables can use {{NAME}} references; empty strings are preserved."
          },
          "version": {
            "type": "string",
            "enum": [
              "NODE24_PLAYWRIGHT"
            ],
            "example": "NODE24_PLAYWRIGHT",
            "description": "Runtime version for browser checks."
          },
          "script": {
            "type": "string",
            "example": "import { test, expect } from '@playwright/test';\ntest('check homepage', async ({ page }) => {\n  await page.goto('https://example.com');\n  await expect(page.locator('h1')).toContainText('Example');\n});",
            "description": "Playwright Test script to run. Must import from @playwright/test and contain at least one test() block."
          }
        },
        "additionalProperties": false
      },
      "PublicCheckIncidentListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCheckIncident"
            }
          },
          "result_info": {
            "$ref": "#/components/schemas/PublicCheckIncidentResultInfo"
          },
          "errors": {
            "type": "array",
            "prefixItems": []
          },
          "messages": {
            "type": "array",
            "prefixItems": []
          }
        },
        "required": [
          "success",
          "result",
          "result_info",
          "errors",
          "messages"
        ],
        "additionalProperties": false
      },
      "PublicCheckIncident": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "check_id": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "check_id",
          "started_at",
          "ended_at"
        ],
        "additionalProperties": false
      },
      "PublicCheckIncidentResultInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "per_page": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "total_count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "page",
          "per_page",
          "count",
          "total_count"
        ],
        "additionalProperties": false
      },
      "PublicUptimeCheckResultsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "check_id": {
                "type": "string",
                "minLength": 1
              },
              "check_type": {
                "type": "string",
                "enum": [
                  "UPTIME"
                ]
              },
              "window": {
                "$ref": "#/components/schemas/PublicCheckResultWindow"
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PublicHttpCheckResult"
                }
              },
              "result_info": {
                "$ref": "#/components/schemas/PublicCheckResultsResultInfo"
              }
            },
            "required": [
              "check_id",
              "check_type",
              "window",
              "results",
              "result_info"
            ],
            "additionalProperties": false
          },
          "errors": {
            "type": "array",
            "prefixItems": []
          },
          "messages": {
            "type": "array",
            "prefixItems": []
          }
        },
        "required": [
          "success",
          "result",
          "errors",
          "messages"
        ],
        "additionalProperties": false
      },
      "PublicCheckResultWindow": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time",
            "description": "Inclusive start of the returned result window"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "description": "Exclusive end of the returned result window"
          }
        },
        "required": [
          "from",
          "to"
        ],
        "additionalProperties": false
      },
      "PublicHttpCheckResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          },
          "checked_from": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "aws:us-east-1",
              "aws:us-east-2",
              "aws:us-west-1",
              "aws:eu-central-1",
              "aws:eu-west-2",
              "aws:ap-south-1",
              "aws:ap-southeast-2",
              "aws:ap-northeast-1",
              null
            ],
            "description": "Region identifier in format aws:{region}"
          },
          "passing": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "response_time_ms": {
            "type": "number",
            "minimum": 0
          },
          "attempt_number": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "is_final_attempt": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "dispatched_at_ms": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "response_body": {
            "type": [
              "string",
              "null"
            ]
          },
          "body_availability": {
            "$ref": "#/components/schemas/PublicCheckResultBodyAvailability"
          },
          "response_code": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 100,
            "maximum": 599
          },
          "result_summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "has_stored_response": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "checked_at",
          "checked_from",
          "passing",
          "response_time_ms",
          "attempt_number",
          "is_final_attempt",
          "dispatched_at_ms",
          "response_body",
          "body_availability",
          "response_code",
          "result_summary",
          "has_stored_response"
        ],
        "additionalProperties": false
      },
      "PublicCheckResultBodyAvailability": {
        "type": "string",
        "enum": [
          "AVAILABLE",
          "NOT_RECORDED",
          "EXPIRED",
          "TRACE_ONLY"
        ]
      },
      "PublicCheckResultsResultInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "per_page": {
[...]
